<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Event Management</title>
    <p style="font-size: 20px">
        Your Details:
        <br>
    <ul style="font-size: 20px">
    <li>Name : {{ name }}</li>
    <li>Email : {{ email }}</li>
    <li>Cell : {{ phone }}</li>
    <li>Checkin Time : {{ check_in }}</li>
    <li>Checkout Time : {{ check_out }}</li>
    <li>Hostname : {{ hostname }}</li>
    <li>Address visited :{{ address_visited }}</li>
    </ul>

    </p>

</head>
<body>

</body>
</html>
